/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700'); */
 
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
    background-color: rgb(255, 235, 218);
    scroll-behavior: smooth;
}

#about, #services{
    padding-top: 50px;
}

#bg{
    width: 100%;
    height: 50%;
}

#titlecardpic{
    width: 60%;
}

.navbar{
    padding: .8rem;
}

.collapse{
    padding-right: 20px;
}

.nav-link{
    font-size: 1.1em !important;
}

.padding{
    padding-bottom: 50px;
}

/* Media Queries
@media (max-width: 992px){

}

@media (max-width: 768){

}

@media (max-width: 576){

} */

/*F*/